.super-table {
  display: flex;
  flex-direction: column;
  .row {
    position: relative;
    height: 20px;
    .cols {
      position: absolute;
      display: flex;
      .col {
        min-width: 20px;
        background-color: white;
        &:first-child{
        }
        div {
          width:100%;
          text-overflow: ellipsis;

        }
      }
    }
  }

  .header {
    flex: 1 1 30px;
    height:30px;
    .hcol{
      background-color: gray;
      .splitter {
        position: absolute;
        right:0;
        width:5px;
        height:30px;
        &:hover {
          cursor: col-resize;
          background-color: blue;
        }
      }
    }
  }

  .container {
    flex: 1 1 100%;
    width:100%;
    overflow-y: auto;
    .content {
        background-color: white;
      .grid {
        position: relative;
        top:0;
        width:100%;
        background-color: white;
      }
    }
  }
}
